

.addLessons {
  width: 58%;
  height: 59%;
  margin: 121px auto;
  background-color: #c1c1c1;
  padding: 2vh;
  border: 2px solid #a9a9a999;
}

.lessonsHr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.lessonsHr span {
    height: 1px;
    background: #afafaf;
    width: 40%;
    display: inline-block;
}

.lessonsHr .lessonsHrText {
  border: 1px solid #afafaf;
  border-radius: 50%;
  display: flex;
  height: 25px;
  width: 25px;
  font-weight: 300;
  font-size: 0.7rem;
  color: #afafaf;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.pasteLesson {

}

.urlInput{

}

.urlInput::placeholder {
  color: white
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: rgba(57, 63, 84, 0.8);
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }
}

@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

  
  &::-webkit-input-placeholder {
    color: white;
  }


.webflow-style-input button {
  color:  #7881A1;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color .25s;
  &:hover {
    color: #BFD2FF;
  }
}
